#header{
    @include  position-fixed;
    z-index: 10000;
}
.header_inner{
    @include flex-between;
    background-color: rgba(16, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    padding: 16px;
    .header_logo{
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        em{
            font-size: 12px;
            display: block;
            color: var(--black100);
        }
    }
    .header_nav{

        @media (max-width:800px) {
            display: none;
            &.show{
                display: block;
                ul{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 72px;
                    min-width: 150px;
                    backdrop-filter: blur(15px);
                    background-color:var( --mainBg-color);
                    padding: 20px 0;
                    z-index: 10000;
                    li{
                        display: block;
                        text-align: right;
                        a{
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header_nav_mobile span::before{
                width: 20px;
            }
            &.show + .header_nav_mobile span::after{
                width: 20px;
            }
        }

        ul{

            li{
                display: inline;
                a{
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 14px;
                    position: relative;
                    &::before{
                        content: "";
                        width: calc(100% - 28px);
                        height: 1px;
                        background-color: var(--black);
                        position: absolute;
                        left: 14px;
                        bottom: 10px;
                        transform: scaleX(0);
                        transition: all 0.5s;
                    }
                    &:hover::before{
                        transform: scaleX(100%);
                    }
                }
            }
        }
    }
    .header_nav_mobile{
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        @media (max-width:800px) {
            display: block;
        }
        span{
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before{
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                right: 0;
                top: 6px;
            }

            &::after{
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                left: 0;
                bottom: 6px;
            }
        }
    }
    
}