#header {
    @include position-fixed;
    z-index: 10000;
    // height: 70px;
}

.header_inner {
    @include flex-between;
    background-color: rgba(19, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    height: 70px;

    .header_logo {
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;

        em {
            font-size: 12px;
            display: block;
            color: var(--black);
        }
    }

    .header_nav {

        @media(max-width:960px) {
            display: none;

            &.show {
                display: block;
                

                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 70px;
                    background-color: rgba(16, 99, 99, 0.1);
                    backdrop-filter: blur(15px);
                    z-index: 1000;
                    min-width: 150px;
                    padding: 20px 0;

                    li {
                        display: block;
                        text-align: right;

                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
                
            }
            &.show + .header_nav_mobile span::before{
                width: 20px;
            }
            &.show + .header_nav_mobile span::after{
                width: 20px;
            }
           
            

        }

        li {
            display: inline;

            a {
                text-transform: uppercase;
                font-size: 14px;
                padding: 14px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    left: 14px;
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    transform: scaleX(0);
                    transition: all 0.3s;
                    transform-origin: 0 center;
                }

                &:hover::before {
                    transform: scaleX(100%);
                }
            }
        }
    }

    .header_nav_mobile {
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media(max-width:960px) {
            display: block;
        }
        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: var(--black);
                top: 6px;
                left: 0;
                transition: width 0.3s;
            }
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: var(--black);
                bottom: 6px;
                right: 0;
                transition: width 0.3s;
            }
        }
    }
}